@charset "utf-8";
/* CSS Document */


@import 'bootstrap.min.css';
@import 'header.css';
@import 'content.css';
@import 'inner.css';

@font-face {
  font-family:'OpenSans';
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans.woff') format('woff'),
  url('../fonts/OpenSans.ttf')  format('truetype'), 
  url('../fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}



div#loadering {
  background: #fff none repeat scroll 0 0;
  display: block;
  height: 400px;
  opacity: 1;
  position: relative;
  text-align: center;
  top: 150px;
  width: 100%;
}
#loadering > img {
  height: 100px;
  width: 100px;
}

body{ margin:0px; padding:0px !important;  font-family: 'OpenSans';  }
p,h1,h2,h3,h4,h5,h6{ margin:0px; padding:0px;}
a:focus, a:hover{ outline:none;}

.inner-popup .popup-foot a.cancelProject {
    display: block;
    float: left;
    margin: 0;
    padding: 20px 0 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.plist .test:hover {
    text-decoration: none;
}

.plist .test:active {
    text-decoration: none;
}

.error-box {
    display: none;
    float: left;
    font-size: 12px;
    margin: 0 5%;
    padding: 10px 0 0;
    text-align: left;
    width: 90%;
}
.error-box p{color:#ff0000;}
.marginL0{
	margin:0px;
}

.activeLi {
    border: 1px solid #d73135  !important;
}
